.paginator {
    border-radius: 0.25rem;
    display: flex;
    list-style: none;

    &__item:first-child & link {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    margin-left: 0;
    }

    &__item:last-child & link {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-left: 0;
    }

}