// Color Scheme

// First Color Scheme
$app-white: #FFF;
$app-platinum: #E6E7E7;
$app-light-gray: #D1D1D1;

//Second Color Scheme
$app-fuzzy-wuzzy: #E56353;
$app-ruddy-pink: #D76C69;
$app-spanish-pink: #ECBCBA;

//Third Color Scheme
$app-eerie-black: #121619;
$app-raisin-black: #222323;
$app-nickel: #6C6E70;

//Typograhpy

//Font Family
$roboto: "Roboto", sans-serif;
$playfair: "Playfair Display", serif;

//Font Weight
$app-light: 300;
$regular: 400;
$black-italic: 900;

//Font Style

$italic: italic;

//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;