
.hero-section {
    .hero-section__img {
    width: 100%;
    position: absolute;
    }
    .hero-section__title {
    position: flex;
    color: $app-white;
    margin-top: 25%;
    width: 100%;
    text-align: center;
    font-size: $xx-large;
    font-weight: $black-italic;
    font-style: $italic;
    }
}