.hero-section{
    background-image: url("assets/img/post-image.jpg");
    background-position: center;
    background-size: cover;
    color: $app-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $playfair;
    font-size: $xx-large;
    font-style: $italic;
    font-weight: $black-italic;
    height: 850px;
    text-align: center;
}
