.author {
    border:1px;
    border-style: solid;
    border-color: $app-platinum;
    margin-left: 0.04rem;
    padding: 5rem;

.author__img {
    display: inline-block;
    margin-left: 5rem;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    vertical-align: middle;
}

.author__name {
    display: inline-block;
    margin-left: 5rem;
    font-family: $playfair;
    font-weight: $black-italic;
    font-style: $italic;
    font-size: $x-large;
    vertical-align: middle;
}

.author__link {
    font-family: $roboto;
    font-size: $large;
    font-weight: $regular;
    font-style: normal;
    color: $app-spanish-pink;
}

.author__text {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%;
    margin-left: 5rem;
    font-family: $roboto;
    font-size: $medium;
    color: $app-nickel;
    line-height: 2rem;
}
}